

.custom-container{
    background-color: #6c757d;
}

.custom-btn{
    width: 100%;
}

.search-item{
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: none;
    list-style: none;
}

.bold{
    font-weight: 800;
}
.card-img{
    max-width: 50px;
    margin-top: -40%;
    margin-bottom: -40%;
}

.card-item{
margin-top: 6%;
margin-bottom: 6%;
}

.custom-card{
    margin-bottom: 2%
}

.small-heading{
    font-weight: 400;
    font-size: 60%;
}

#city-date-weather{
    margin-bottom: -2%;
}

#banner-img{
    margin-left: 2%;

}

#band-img{
    max-width: 50px;
    margin-top: -40%;
    margin-bottom: -40%;
}


#forecast-accordion{
    display: none;
}

@media screen and (max-width: 768px) {  
    #forecast-accordion{
        display: block;
    }

    #main-display{
        display: none;
    }
}